.dashboard-search-container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.search-box {
    display: inline-block;
    background-color: #f2f2f2;
    height: 5vh;
    width: 60vw;
    margin:5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: inline-block;
    padding-right: 200px;
    
}

#search-pic {
    position: relative;
    bottom: 12px;
    margin-top: 25px;
    background-color: #ff9770;
    padding-bottom:1px;

}

.reset-button-dash {
    background-color: #403D39;
    text-decoration: none;
    border: none;
    color: white;
    padding:5px;
}

 #userposts {
    margin-left: 120px;
}